.jumbotron {
    margin-top: 50px;
    background-color: #CD5C5C;
    color: white;
}

.container1 {
    text-align: center;
    margin-bottom: 15px;
}

.card-body {
    background-color: rgb(220, 220, 220);
    text-align: center;
    width: auto;
    height: 150px;
    margin-bottom: 15px;
}

.carousel-inner {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

.col button .container h2 {
    text-align: center;
}

.card-hotel {
    margin-bottom: 10px;
    flex: 1 150px;
    background-color: #D3D3D3;
}

.card-title {
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 100px;
}

.card-subtitle {
    margin: 2px 0 0 2px;
    text-align: left;
}

.card-text {
    text-align: center;
    padding: 0 2px 0 2px;
}

.card-hotel button {
    text-align: center;
}

.table {
    text-align: center;
}

.estrellas {
    width: 12%;
}

.footer {
    background-color: #CD5C5C;
    padding: 10px 5px 0 5px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}

.card-iconos {
    margin-top: 2em;
}

.footer a {
    color: white;
}