.jumbotron {
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  background-color: #CD5C5C;
  color: white; }

.container1 {
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  /*margin-bottom: 15px;*/ }

.card-body {
  background-color: gainsboro;
  text-align: center;
  width: auto;
  height: 150px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  /*margin-bottom: 15px;*/ }

.carousel-inner {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
  /*margin-bottom: 40px;*/ }

.col button .container h2 {
  text-align: center; }

.card-hotel {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  /*margin-bottom: 10px;*/
  flex: 1 150px;
  background-color: #D3D3D3; }

.card-title {
  text-align: center; }

.card-img-top {
  width: 100%;
  height: 100px; }

.card-subtitle {
  margin-top: 2px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  /*margin: 2px 0 0 2px;*/
  text-align: left; }

.card-text {
  text-align: center;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  /*padding: 0 2px 0 2px;*/ }

.card-hotel button {
  text-align: center; }

.table {
  text-align: center; }

.estrellas {
  width: 12%; }

.footer {
  background-color: #CD5C5C;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  /*padding: 10px 5px 0 5px;*/
  text-align: center;
  color: white;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

.card-iconos {
  margin-top: 2em;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  /*margin-top: 2em;*/ }

.footer a {
  color: white; }
