$pink: #CD5C5C;
@mixin margenes($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin relleno($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron {
    @include margenes(50px, 0px, 15px, 0px);
    background-color: $pink;
    color: white;
}

.container1 {
    text-align: center;
    @include margenes(0px, 0px, 15px, 0px)
    /*margin-bottom: 15px;*/
}

.card-body {
    background-color: rgb(220, 220, 220);
    text-align: center;
    width: auto;
    height: 150px;
    @include margenes(0px, 0px, 15px, 0px)
    /*margin-bottom: 15px;*/
}

.carousel-inner {
    width: 100%;
    height: 100%;
    @include margenes(0px, 0px, 40px, 0px)
    /*margin-bottom: 40px;*/
}

.col button .container h2 {
    text-align: center;
}

.card-hotel {
    @include margenes(0px, 0px, 10px, 0px);
    /*margin-bottom: 10px;*/
    flex: 1 150px;
    background-color: #D3D3D3;
}

.card-title {
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 100px;
}

.card-subtitle {
    @include margenes(2px, 0px, 0px, 2px);
    /*margin: 2px 0 0 2px;*/
    text-align: left;
}

.card-text {
    text-align: center;
    @include relleno(0px, 2px, 0px, 2px)
    /*padding: 0 2px 0 2px;*/
}

.card-hotel button {
    text-align: center;
}

.table {
    text-align: center;
}

.estrellas {
    width: 12%;
}

.footer {
    background-color: $pink;
    @include relleno(10px, 5px, 0px, 5px);
    /*padding: 10px 5px 0 5px;*/
    text-align: center;
    color: white;
    @include margenes(0px, 0px, 0px, 0px)
}

.card-iconos {
    @include margenes(2em, 0px, 0px, 0px)
    /*margin-top: 2em;*/
}

.footer a {
    color: white;
}