@pink: #CD5C5C;

.margenes(@top, @right, @bottom, @left) {
    margin-top: @top;
    margin-right: @right;
    margin-bottom: @bottom;
    margin-left: @left;
}

.relleno(@top, @right, @bottom, @left) {
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

.jumbotron {
    .margenes(50px, 0px, 15px, 0px);
    background-color: @pink;
    color: white;
}

.container1 {
    text-align: center;
    .margenes(0px, 0px, 15px, 0px)
    /*margin-bottom: 15px;*/
}

.card-body {
    background-color: rgb(220, 220, 220);
    text-align: center;
    width: auto;
    height: 150px;
    .margenes(0px, 0px, 15px, 0px)
    /*margin-bottom: 15px;*/
}

.carousel-inner {
    width: 100%;
    height: 100%;
    .margenes(0px, 0px, 40px, 0px)
    /*margin-bottom: 40px;*/
}

.col button .container h2 {
    text-align: center;
}

.card-hotel {
    .margenes(0px, 0px, 10px, 0px);
    /*margin-bottom: 10px;*/
    flex: 1 150px;
    background-color: #D3D3D3;
}

.card-title {
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 100px;
}

.card-subtitle {
    .margenes(2px, 0px, 0px, 2px);
    /*margin: 2px 0 0 2px;*/
    text-align: left;
}

.card-text {
    text-align: center;
    .relleno(0px, 2px, 0px, 2px)
    /*padding: 0 2px 0 2px;*/
}

.card-hotel button {
    text-align: center;
}

.table {
    text-align: center;
}

.estrellas {
    width: 12%;
}

.footer {
    background-color: @pink;
    .relleno(10px, 5px, 0px, 5px);
    /*padding: 10px 5px 0 5px;*/
    text-align: center;
    color: white;
    .margenes(0px, 0px, 0px, 0px)
}

.card-iconos {
    .margenes(2em, 0px, 0px, 0px)
    /*margin-top: 2em;*/
}

.footer a {
    color: white;
}